{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'black_invoices:inicio' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">The Black System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <!-- <div class="image">
        <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div> -->
            <!-- <div class="info">
                <a href="#" class="d-block">Bryan Alejo</a>
            </div> -->
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
                
                <!-- 1. PRODUCTOS -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Productos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:producto_list' %}" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Lista de productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:producto_create' %}" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Registrar producto</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-exclamation-triangle nav-icon"></i>
                                <p>Stock bajo</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                
                <!-- 2. EMPLEADOS -->
                {% if user.is_authenticated %}
                    {% if user.empleado.nivel_acceso.nombre == 'Administrador' %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>
                                Empleados
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'black_invoices:empleado_list' %}" class="nav-link">
                                    <i class="fas fa-users nav-icon"></i>
                                    <p>Lista de empleados</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'black_invoices:empleado_create' %}" class="nav-link">
                                    <i class="fas fa-user-plus nav-icon"></i>
                                    <p>Registrar empleado</p>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-money-check-alt nav-icon"></i>
                                    <p>Comisiones de empleados</p>
                                </a>
                            </li> -->
                        </ul>
                    </li>
                    {% endif %}
                {% endif %}
                
                <!-- 3. CLIENTES -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-light fa-users"></i>
                        <p>
                            Clientes
                            <i class="fas fa-angle-left right"></i>
                            <!-- <span class="badge badge-info right">6</span> -->
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <!-- <li class="nav-header"> <small>SEGMENTO 1</small></li> -->
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:cliente_list' %}" class="nav-link">
                                <i class="far fas fa-address-book nav-icon"></i>
                                <p>Lista de clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:cliente_create' %}" class="nav-link">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>Registrar cliente</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <!-- 4. VENTAS -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-sharp fa-thin fa-dollar-sign"></i>
                        <p>
                            Ventas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:venta_list' %}" class="nav-link">
                                <i class="fas fa-receipt nav-icon"></i>
                                <p>Lista de ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:venta_create' %}" class="nav-link">
                                <i class="fas fa-cart-plus nav-icon"></i>
                                <p>Registrar venta</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-chart-bar nav-icon"></i>
                                <p>Reportes de ventas</p>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:ventas_pendientes' %}" class="nav-link">
                                <i class="fas fa-clock nav-icon"></i>
                                <p>Ventas pendientes</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Opcion 3</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                
                <!-- 5. FACTURAS -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-light fa-file-invoice"></i>
                        <p>
                            Recibos de Venta
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Generar recibo</p>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:factura_list' %}" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Lista de recibos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-header">COMISIONES</li>
                <li class="nav-item">
                    <a href="{% url 'black_invoices:comision_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-money-bill"></i>
                        <p>Comisiones</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Reporte mensual</p>
                    </a>
                </li> -->
                {% if user.is_authenticated %}
                    {% if user.empleado.nivel_acceso.nombre == 'Administrador' %}
                <li class="nav-header">CONFIGURACIÓN</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Configuración
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'black_invoices:rangos_comisiones_list' %}" class="nav-link">
                                <i class="fas fa-percentage nav-icon"></i>
                                <p>Rangos de comisión</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-key nav-icon"></i>
                                <p>Niveles de acceso</p>
                            </a>
                        </li> -->
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                        <span class="d-none d-md-inline">{{ user.empleado.nombre }} {{ user.empleado.apellido }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-primary">
                            <p>
                                {{ user.empleado.nombre }} {{ user.empleado.apellido }}
                                <small>{{ user.empleado.nivel_acceso.nombre }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <a href="#" class="btn btn-default btn-flat">Perfil</a>
                            <a href="{% url 'black_invoices:logout' %}" class="btn btn-default btn-flat float-right">
                                <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-header">OPCIONES USUARIO</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Comisiones
                        </p>
                    </a>
                </li> -->
                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>